* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #d7d7d7;
  --gray: #464646;
  --blue-light: #667eea;
  --purple: #764ba2;
  --white: #ffffff;
  --shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, var(--blue-light), var(--purple));
}

body {
  width: 100vw;
  min-height: 130rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: var(--shadow);
  animation: fadeIn 0.6s ease-in-out;
}

.auth-card {
  background: var(--white);
  border-radius: 1.2rem;
  box-shadow: var(--shadow);
  min-width: 32rem;
  min-height: 42rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.3s ease;
}

.auth-card:hover {
  transform: scale(1.02);
}

.auth-info h1 {
  font-size: 3rem;
}

.auth-info h2 {
  color: var(--purple);
  font-size: 1.8rem;
}

.auth-logo {
  width: 10rem;
}

.auth-form h2 {
  font-size: 2.6rem;
  color: var(--purple);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.form input,
.form select {
  width: 22rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #ccc;
  text-align: center;
  box-shadow: var(--shadow);
}

.form button {
  width: 12rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  margin-top: 2rem;
  border: none;
  background-color: var(--blue-light);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: var(--purple);
}

.form-error {
  display: none;
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.auth-links {
  font-size: 1.3rem;
}

.auth-links p {
  margin-top: -1rem;
  cursor: pointer;
  color: var(--blue-light);
}

.auth-links p:hover {
  color: var(--purple);
  text-decoration: underline;
}

.auth-form.scroll {
  overflow-y: auto;
  padding: 1rem 0;
}

@media (max-width: 900px) {
  .auth-container {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
